.sidebar {
    width: 230px;
    height: 100vh;
    background: #222;
    padding: 25px 15px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    transition: transform 0.3s ease;
}

.sidebar-header {
    font-size: 22px;
    font-weight: bold;
}

.sidebar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sidebar-menu li a {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    padding: 8px 10px;
    display: block;
    border-radius: 8px;
    transition: 0.2s;
}

.sidebar-menu li a:hover {
    background: #69c8a0;
    color: #000;
}

@media (max-width: 900px) {

    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }
}
