
<nav class="navbar">
    <div class="logo-section">
        <a href="/" class="logo-link">
            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828784.png" alt="Logo" class="logo">
            <span class="brand">SmartGrader</span>
        </a>
    </div>

    <ul class="menu">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
            {% if user_profile and user_profile.role == 'teacher' %}
                <li><a href="/test-generator/">Create Test</a></li>
                <li><a href="/tests/">My Tests</a></li>
            {% else %}
                <li><a href="/student/">My Tests</a></li>
            {% endif %}
            <li class="user-info">
                {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.email }}
                {% endif %}
            </li>
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/logout/" class="logout-btn">Logout</a></li>
        {% else %}
            <li><a href="/register/" class="signup-btn">Sign Up</a></li>
            <li><a href="/login/" class="login-btn">Login</a></li>
        {% endif %}
    </ul>
</nav>